*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.backround {
    background-color: cadetblue;
    height: 100%;
    width: 100%;
}
.li-navbar {
    border-width: 1px;
    padding: 5px;
    color: blue;
}
.data {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 35px;
    font-size: 35px;
}
.tabel {
    align-items: center;
    justify-content: center;
    display: flex
}
.table {
    border-collapse: collapse;
    margin-bottom: 24px;
}
table, th, td {
    border: 1px solid black;
}

th {
    background-color: gray;
    color: white;
}
td {
    background-color: mintcream;
}
.nobuku {
    width: 130px;
    padding: 5px;
    height: 55px;
}
.penerbit {
    width: 130px;
    padding: 5px;
}
.pengarang {
    width: 120px;
    padding: 5px;
}
.terbit {
    width: 100px;
    padding: 5px;
}
img {
    display: block;
}
.nama-home {
    display: flex;
    color: white;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 32px;
}
.navigation-awal {
    display: flex;
    background-color: black;
    justify-content: space-between;
    height: 60px;
}
.navi {
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    padding: 32px;
}
.navi>li {
    list-style-type: none;
    padding: 10px;
}
.navi>li>a {
    text-decoration: none;
    color: white;
}
.buttons {
    width: 54px;
    height: 24px;
}
.firstname {
    color:aqua;
}
img {
    width: 70px;
    display: block;
}